body {
    background-color: black;
}
.pic {
    width: 100%;
    border: 5px solid white;
}
h1{
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}

.meme {
    width: 50%;   
    margin-left: 25%;
    background-color: black;
    text-align: center;
    color: white;
  }
